/* import variables */
@value variables: '../variables.css';
@value borderRadius, gray, red, minWidth from variables;

body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.background {
  background-image: url('http://res.cloudinary.com/ground-warrior/image/upload/c_scale,w_500/v1479792811/react-landing-page/waffle.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  min-width: minWidth;
  width: 100vw;
}

.cover {
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

.logo {
  height: 35px;
  margin-bottom: 10px;
}

.content {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: borderRadius;
  display: inline-block;
  left: 50%;
  padding: 20px 30px 30px 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.title {
  color: gray;
  font-size: 40px;
}

.subtitle {
  color: gray;
  font-size: 18px;
  margin-top: 15px;
  opacity: .8;
}

.signupForm {
  margin-top: 20px;
}

.email {
  padding: 0 10px;
  text-align: center;
}

.submit {
  margin-top: 6px;
  width: 100%;
}

.socialIcon {
  color: gray;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  margin: 15px 5px;
}

.socialIcon:hover {
  color: red;
}

@media(min-width: 768px) {
  .subtitle {
    font-size: 20px;
  }

  .extraText {
    font-size: 20px;
  }

  .email {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    text-align: left;
  }

  .submit {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    margin-top: 0;
    vertical-align: top;
    width: auto;
  }
}

.ideasSection {
  background-color: #fff;
  padding: 50px 0 100px 0;
}

.ideasTitle {
  color: gray;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

@media(min-width: 750px) {
  .background {
    background-image: url('http://res.cloudinary.com/ground-warrior/image/upload/c_scale,w_750/v1479792811/react-landing-page/waffle.jpg');
  }
}

@media(min-width: 1000px) {
  .background {
    background-image: url('http://res.cloudinary.com/ground-warrior/image/upload/c_scale,w_1000/v1479792811/react-landing-page/waffle.jpg');
  }
}

@media(min-width: 1250px) {
  .background {
    background-image: url('http://res.cloudinary.com/ground-warrior/image/upload/c_scale,w_1250/v1479792811/react-landing-page/waffle.jpg');
  }
}

@media(min-width: 1500px) {
  .background {
    background-image: url('http://res.cloudinary.com/ground-warrior/image/upload/c_scale,w_1500/v1479792811/react-landing-page/waffle.jpg');
  }
}
