// Colors
$black: #000;
$black-90: #191919;
$black-80: #333333;
$black-70: #4C4C4C;
$black-60: #666666;
$black-50: #808080;
$black-40: #999999;
$black-30: #B3B3B3;
$black-20: #CCCCCC;
$black-10: #E4E4E4;
$black-5: #F3F3F3;
$white: #fff;
$error-text: rgba(255, 113, 117, .8);
$error-background: rgba(255, 113, 117, .3);

// Borders
$border-radius: 4px;

// Forms
$form-element-height: 36px;
