/* import variables */
@value variables: './variables.css';
@value borderRadius, red, redHover from variables;

.btn {
  display: inline-block;
  border: none;
  border-radius: borderRadius;
  font-size: 14px;
  padding: 9px 15px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.btnRed {
  composes: btn;
  background-color: red;
  color: #ffffff;
}

.btnRed:hover,
.btnRed:active,
.btnRed:focus {
  outline: none;
  background-color: redHover;
  color: #fff;
  text-decoration: none;
}

.btnRed:disabled {
  background-color: #FFA8AB;
  border: 1px solid #FFA8AB;
  cursor: default;
}

.btnRedLarge {
  composes: btnRed;
  padding: 15px 20px;
}
