/* import variables */
@value variables: './variables.css';
@value borderRadius, gray from variables;

.input {
  border-radius: borderRadius;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 15px;
  height: 36px;
  vertical-align: top;
  width: 100%;
}

.select {
  display: inline-block;
  width: 100%;
}

.select > div {
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.select > div > span > div {
  padding-left: 0 !important;
  padding-right: 37px !important;
}

.select > div > span > div > span {
  line-height: 36px;
}

@media(min-width: 768px) {
  .input {
    width: 300px;
  }

  .select {
    width: 200px;
  }
}
